<!-- MODAL -->
<%= render partial: 'layouts/signup_modal' %>
<!-- SIGN UP BUTTON -->
<div id="taskr-intro-first">
  <div class="jumbotron">
    <div class="signup-form-slide">
      <h1>J<span class="j0bd_title">0</span>bd.</h1>
      <p>Where startups find coders and coders find work.<br /></p>
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Sign Up</button>
    </div>
  </div>
</div>

<div id="taskr-intro-second" name="anchorName2">
<div id="down-arrow"></div>
  <div class="jumbotron">
    <div class="signup-form">
      <h1>Coders + Startups</h1>
      <p>Look no further.</p>
      <%=image_tag("j0bd-profile.png", alt: "j0bdprofile", :size => "400x400")%>
    </div>
  </div>
</div>

<div id="taskr-intro-third">
<!-- <div id="down-arrow-green"></div> -->
  <div class="jumbotron">
    <div class="signup-form">
      <h1>Fitting the bits.</h1>
      <p>Match need sets with skill sets.</p>
    </div>
  </div>
</div>

<div id="taskr-intro-fourth">
<!-- <div id="down-arrow-orange"></div> -->
  <div class="jumbotron">
    <div class="signup-form">
      <h1>Automated Profile Creation</h1>
      <p>Find the people you need at a glance.</p>
    </div>
  </div>
</div>

<div id="taskr-intro-last">
  <div class="jumbotron">
    <div class="signup-form">
      <h1>Get Started</h1>
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Sign Up</button>

    </div>
  </div>
</div>
