<!-- Employer info and favorites and others go here -->
    <div id="linkedin">Employer: <%= link_to "Sign up with LinkedIn", "/auth/linkedin" %></div>

<% if @linkedin %>
  <%= "#{@linkedin.first_name} | #{@linkedin.headline} | #{@linkedin.industry}" %>
  <table>
    <thead>
      <th>Name</th>
      <th>Ruby</th>
      <th>JavaScript</th>
      <th>CoffeeScript</th>
      <th>CSS</th>
      <th>PHP</th>
      <th>Created_at</th>
      <th>Updated_at</th>
    </thead>

  </table>
<% end %>

