<!-- Employer's favorite list -->
<h2>Your favorites</h2>
<table>
  <thead>
    <th>Name</th>
  </thead>

  <% current_employer.favorite_employees.each do |favorite| %>
    <tr>
      <td><%= favorite.name %></td>
      <td><%= favorite.id %></td>
    </tr>
  <% end %>
</table>