<!-- D3 Test -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<style>
body {
font-family: helvetica;
}

p {
  padding: 5px;
}

pre{
  padding:10px;
  border: 1px solid #dddddd;
}

button{
  margin:10px;
}
</style>

<div id="employees-display"></div>

<script id="employees-template" type="text/x-handlebars-template">

<div id="employee-profile">

<!-- PROFILE CARD -->
  <div class="profile-card" id="{{employee.id}}">
    <div class="prof-pic"></div>
  <div class="badge-container">
      {{ employee.name }}
    <div class="prof-badges"></div>
    <div class="prof-badges"></div>
    <div class="prof-badges"></div>
    <div class="prof-badges"></div>
  </div>
  <div class="text-container">
    <div class="prof-text" id="first_stats"><%= @top_stats[0].values[0] %></div>
    <div class="prof-text" id="second_stats"><%= @top_stats[1].values[0] %></div>
    <div class="prof-text" id="third_stats"><%= @top_stats[2].values[0] %></div>
    <div class="prof-text" id="fourth_stats"><%= @top_stats[3].values[0] %></div>
  </div>
  <div class="panel-container">
    <div class="prof-panel">{{employee.github_account.username}}</div>
    <div class="prof-panel">{{employee.stack_overflow_account.reputation}}</div>
    <div class="prof-panel">{{employee.linked_in.skills}}</div>
    <div class="prof-panel">{{employee.dribbble.likes_received_count}} + {{employee.dribbble.shots_count}}</div>
  </div>
  <div class="favbutton">Share</div>
  </div>
  </div>
</script>

<script> $(function() { loadEmployeesPage(); }); </script>

<script>
  $(".profile-card").click(function(){
    alert('test');
  })
</script>