<meta charset="utf-8">
<script src="http://d3js.org/d3.v3.min.js"></script>

<style>
.chart div {
  font: 10px sans-serif;
  background-color: orange;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>

<div id="employees-display"></div>

<script id="employees-template" type="text/x-handlebars-template">

<div id="employee-profile">

<!-- PROFILE CARD -->
  <div class="profile-card" id="{{employee.id}}">
    <div class="prof-pic"></div>
  <div class="badge-container">
      {{ employee.name }}
    <div class="prof-badges"></div>
    <div class="prof-badges"></div>
    <div class="prof-badges"></div>
    <div class="prof-badges"></div>
  </div>
  <div class="text-container">
    <div class="prof-text"></div>
    <div class="prof-text"></div>
    <div class="prof-text"></div>
  </div>
  <div class="panel-container">
    <div class="prof-panel">{{employee.primary_stats.ruby}}</div>
    <div class="prof-panel">{{employee.primary_stats.css}}</div>
    <div class="prof-panel">{{employee.primary_stats.javascript}}</div>
    <div class="prof-panel">{{employee.primary_stats.coffeescript}}</div>
  </div>
  <div class="favbutton">Share</div>
  </div>
  </div>


</script>

<div class="chart"></div>

<script> $(function() { loadEmployeesPage(); }); </script>