<style>

body {
font-family: helvetica;
}

p {
  padding: 5px;
}

pre{
  padding:10px;
  border: 1px solid #dddddd;
}

button{
  margin:10px;
}

.chart div {
  font: 10px sans-serif;
  background-color: orange;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>
<!-- D3 Test -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


<p id="first_stats"><%= @top_stats[0].values[0] %></p>
<p id="second_stats"><%= @top_stats[1].values[0] %></p>
<p id="third_stats"><%= @top_stats[2].values[0] %></p>
<p id="fourth_stats"><%= @top_stats[3].values[0] %></p>

<!-- D3 Test -->

<div id="employees-display"></div>

<script id="employees-template" type="text/x-handlebars-template">

<div id="employee-profile">

<!-- PROFILE CARD -->
  <div class="profile-card" id="{{employee.id}}">
    <div class="prof-pic"></div>
  <div class="badge-container">
      {{ employee.name }}
    <div class="prof-badges"></div>
    <div class="prof-badges"></div>
    <div class="prof-badges"></div>
    <div class="prof-badges"></div>
  </div>
  <div class="text-container">
    <div class="prof-text"></div>
    <div class="prof-text"></div>
    <div class="prof-text"></div>
  </div>
  <div class="panel-container">
    <div class="prof-panel">{{employee.primary_stats.ruby}}</div>
    <div class="prof-panel">{{employee.primary_stats.css}}</div>
    <div class="prof-panel">{{employee.primary_stats.javascript}}</div>
    <div class="prof-panel">{{employee.primary_stats.coffeescript}}</div>
  </div>
  <div class="favbutton">Share</div>
  </div>
  </div>


</script>

<div class="chart"></div>

<script> $(function() { loadEmployeesPage(); }); </script>
