@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Lato:100);
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
}

/* NAV BAR WITH HAMBURGER MENU */
/* By James Calhoun */
nav {
  position: fixed;
  background-color: #178FE1;
  text-align: right;
  padding: 5px 5% 0 0;
  /*opacity: 0.85;*/
  width: 100%;
  height: auto;
  z-index: 900;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav:hover{
  opacity: 1;
}

.nav-container{
  width: 100%;
  display: inline-block;
}

/* Hamburger Button */
#hambut{
  display: inline-block;
  text-align: left;
}

#hambut .bar{
  height: 4px;
  width: 20px;
  background-color: white;
  margin: 4px 0 0 0;
}

#hamclose{
  color: white;
  font-size: 1.75em;
  font-weight: bold;
}
.ham-container{
  padding: 15px;
  text-align: left;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

/* MENU */
#menu{
  width: 0px;
  height: 100px;
  background-color: #2e2e2e;
  overflow: hidden;
}

/* Search Bar */
.search-container{
  position: relative;
  text-align: center;
}

.searchbar{
  margin: 0 auto;
}

/* Signup Buttons */
.button-container{
  text-align: right;
}

/* YIELD CONTENT */
#content {
  padding-top: 50px;
}

/* MODAL STYLING */
#signup-modal-body{
  text-align: center;
}

.gh-signup {
  vertical-align: top;
  display: inline-block;
  height: 200px;
  width: 250px;
}

.li-signup {
  vertical-align: top;
  display: inline-block;
  height: 200px;
  width: 250px;
}

.ver-line-br {
  display: inline-block;
  width: 1px;
  height: 200px;
  background-color: #B8B8B8 ;
}

/* CONTENT STYLING */
.jumbotron {
  background: none;
  text-align: center;
}

.panel-heading {
  text-align: center;
}

.panel-body {
  text-align: left;
}

.empty-slide-div {
  margin-right: -2000px;
}

#signup-slide {
  position: relative;
  top: -219px;
}

.panel-body .panel-title {
  margin-top: 5px;
}

#taskr-intro-first{
  height:900px;
}

#taskr-intro-second{
  height:900px;
  background-color: #178FE1;
  color: white;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px  #000000;
}

#taskr-intro-third{
  height:900px;
  background-color: #3CDC18;
  color: white;
}

#taskr-intro-fourth{
  height:900px;
  background-color: #fac600;
  color: white;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#taskr-intro-last{
  height:450px;
}

/*  PROFILE CARD IN CSS */
.profile-card{
  margin: 0 auto;
  display: block;
  background-color: orange;
  border: 4px solid white;
  border-radius: 15px;
  height: 400px;
  width: 225px;
  color: white;
    -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* PROFILE PICTURE */
.prof-pic {
  position: absolute;
  background-image: url(j0bd-avater.png);
  background-repeat: no-repeat;
  background-size:55px 55px;
  background-position: bottom;
  background-color: #E8E8E8 ;
  margin: -25px 0 0 -25px;
  width: 75px;
  height: 75px;
  border: 8px solid green;
  border-radius: 50%;
}

.badge-container{
  margin: 15px 20px 0 0;
  text-align: right;
}

.prof-badges{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: white;
  background-color: white;
}

.text-container{
  margin-top: 30px;
}

.prof-text{
  width: 200px;
  height: 7px;
  margin: 8px;
  border-radius: 25px;
  background-color: white;
}

/* PANELS */
.panel-container{
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.prof-panel{
  display: inline-block;
  width: 100px;
  height:  100px;
  background-color: none;
  border: 2px solid white;
  overflow: hidden;
}

/* FAVORITE BUTTON */
.favbutton{
  margin: 0 auto;
  text-align: center;
  color: white;
  background-color: #ce7046;
  width:175px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  padding-top: 4px;
}

.favbutton:hover{
  background-color: #d27e58;
}

.favbutton:active{
  background-color: #ce7046;
}