<!-- SEARCH BAR -->
<div class="search-container">
  <div id="search">
    <%= form_tag "/", method: "post" do %>
    <%= text_field_tag :search_candidate, params[:search_candidate], placeholder: "Search" %> <br>
    <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<!-- SIGN UP / SIGN IN BUTTONS -->
<div class="button-container">
    <button class="btn btn-primary btn-lg btn-sm" data-toggle="modal" data-target="#myModal">Sign Up</button>
    <button class="btn btn-primary btn-lg btn-sm" data-toggle="modal" data-target="#myModal">Sign In</button>
</div>

<!-- LOGOUT LINK -->
<%= current_employer ? (link_to "Logout", employers_path, {method: :delete}) : nil %>