<nav>
  <div class="nav-container">
    <div class="ham-container">
      <div id="hambut">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
    <div id="hamclose">X</div>
    </div>
      <!-- <div class="nav-login">
      Welcome <%#= current_employer ? (link_to "Logout", employers_path, {method: :delete}) : nil %>
    </div> -->
  </div>
</nav>