<nav>
  <div class="nav-container">
    <div class="ham-container">
      <div id="hambut">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
    <div id="hamclose">X</div>
    </div>
      <div class="nav-login">
          <%= current_employer || current_employee ? nil : (link_to "Sign Up", '#', class:"btn btn-primary btn-sm", "data-toggle" => "modal", 'data-target' => '#myModal') %>
    </div>
  </div>
</nav>