<!-- PROFILE CARD -->
<div class="profile-card">
<div class="badge-container">
  <div class="prof-badges"></div>
  <div class="prof-badges"></div>
  <div class="prof-badges"></div>
  <div class="prof-badges"></div>
</div>
<div class="text-container">
  <div class="prof-text"></div>
  <div class="prof-text"></div>
  <div class="prof-text"></div>
</div>
<div class="panel-container">
  <div class="prof-panel"></div>
  <div class="prof-panel"></div>
  <div class="prof-panel"></div>
  <div class="prof-panel"></div>
</div>
<div class="favbutton">Favorite</div>
</div>