<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign Up!</h4>
      </div>
      <div class="modal-body" id="signup-modal-body">
      

        <div class="gh-signup">
        <h2>Coders</h2>
        <br />
            <!-- Sign in with Github -->
      <%= link_to "Sign in with Github", "/auth/github", :class => "btn btn-primary btn-lg", :id => 'signup-slide-btn' %>
      </div>

      <div class="ver-line-br"></div>

        <div class="li-signup">
        <h2>Startups</h2>
        <br />
                <!-- Sign in with Linkedin -->
      <%= link_to "Sign in with Linkedin", "/auth/github", :class => "btn btn-primary btn-lg", :id => 'signup-slide-btn' %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>