<div style="width: 100px; height: 100px; position: relative; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; background-color: rgb(136, 143, 255);">

<div style="position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; clip: rect(0px 100px 100px 50px);">

<div style="background-color: rgb(68, 79, 255); position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; clip: rect(0px 50px 100px 0px); -webkit-transform: rotate(108deg);"></div></div>

<div style="position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; clip: rect(0px 100px 100px 50px); -webkit-transform: rotate(108deg);">

<div style="background-color: rgb(255, 147, 0); position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; clip: rect(0px 50px 100px 0px); -webkit-transform: rotate(72deg);"></div></div>

<div style="position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; clip: rect(0px 100px 100px 50px); -webkit-transform: rotate(180deg);">


<div style="background-color: rgb(148, 33, 146); position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; clip: rect(0px 50px 100px 0px); -webkit-transform: rotate(144deg);"></div></div></div>